@using Microsoft.AspNetCore.Components.Web
@namespace MesAdmin_Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="/css/toastr/toastr.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="MesAdmin_Server.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Произошла ошибка. Это приложение может не отвечать на запросы до тех пор, пока не будет перезагружено.
        </environment>
        <environment include="Development">
            Произошла не отслеживаемая ошибка. Смотрите в "Инструментах разработчика (browser dev tools)" для дополнительной информации.
        </environment>
        <a href="" class="reload">Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/jquery/jquery-3.6.0.js"></script>
    <script src="js/toastr/toastr.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
